body{
    background-color: aqua;
}

a, button{
    font-family: sans-serif;
    font-size: 500;
    color: red;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background-color: goldenrod;
}

.logo{
    background-color: goldenrod;
    cursor: pointer;
}

.links{
    background-color: gold;
    color: gold;
}

.links{
    transition: all 0.3s ease 0s;
}

.links:hover{
    background-color: lightblue;
}

button{
    padding: 10px;
    background-color: yellow;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: whitesmoke;
}

#momento{
    display: flex;
    justify-content: center;
}

.momento{
    border: solid 5px darkred;
}

.h1{
    background-color: yellow;
    border: solid 5px skyblue;
}

main{
    text-align: center;
}

p{ 
    background-color: aliceblue;
    border: solid 5px silver;
}

ul{
    background-color: aliceblue;
    padding: 5px;
    list-style-position: inside;
    border: solid 5px silver;
}