body{
    background-color: greenyellow;
}

.imagem-principal{
    border-radius: 95px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(skyblue, green);
    border-radius: 30px;
    
    
}

button{
    border-radius: 20px;
    height: 40px;
}

/*Primeiro Link*/
.pagina-um{
    background-color: beige;
    transition-property: all;
    transition-duration: 0.5s; 
}

.pagina-um:hover{
    background-color: red;
    transition-property: all;
    transition-duration: 0.5s; 
}

.Primeira-Adaptacao{
    border-radius: 10px;
    color: red;
    font-size: larger;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
}

.Primeira-Adaptacao:hover{
    border-radius: 10px;
    color: beige;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
    
}
/* Fim do Primeiro Link*/

/*Segundo Link*/
.pagina-dois{
    background-color: orange;
    transition-property: all;
    transition-duration: 0.5s; 
}

.pagina-dois:hover{
    background-color: silver;
    transition-property: all;
    transition-duration: 0.5s; 
}

.Segunda-Adaptacao{
   
    color: gold;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
    
}

.Segunda-Adaptacao:hover{
   
    color: orange;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
}
/* Fim do Segundo Link*/

/*Terceiro Link*/
.pagina-tres{
    background-color: beige;
    transition-property: all;
    transition-duration: 0.5s; 
}

.pagina-tres:hover{
    background-color: greenyellow;
    transition-property: all;
    transition-duration: 0.5s; 
}

.Terceira-Adaptacao{
    
    color: red;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
    
}

.Terceira-Adaptacao:hover{
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
    
}
/* Fim do Terceiro Link*/

/*Quarto Link*/
.pagina-quatro{
    background-color: darkblue;
    transition-property: all;
    transition-duration: 0.5s; 
}

.pagina-quatro:hover{
    background-color: gold;
    transition-property: all;
    transition-duration: 0.5s; 
}

.Quarta-Adaptacao{
    
    color: gold;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
    
}

.Quarta-Adaptacao:hover{
    color: darkblue;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
    
}
/* Fim do Quarto Link*/

main{
    text-align: center;
    color: green;
    background-color: beige;
}

article{
    text-align: center;
    color: green;
    background-color: beige;
}

section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: green;
    background-color: beige;
    align-items: center;
}

.papagaio{
    width: 250px;
    height: 220px;
    border-radius: 50px;
}

/*Icones de Caveira*/
#caveira{
    background-image: linear-gradient(black, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
}

#caveira2{
    background-image: linear-gradient(black, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
}
/*Icones de Caveira*/

h1::after, h1::before, h2::after, h2::before{
    content:'';
    background-color: black;
    display: block;
    width: 450px;
    height: 5px;
    margin: auto;
}

footer{
    background-image: linear-gradient( grey, black);
    text-align: center;
    padding: 10px;

}

ul{
    list-style-position: inside;
    font-size: large;
    
}

li::marker{
    color: red;
}

#posters{
    display: flex;
    justify-content: space-between;
}

.poster{
    border: dashed green 5px;
}

/*Link para a Amazon*/
#amazon{
    text-align: center;
    background-color: grey;
    padding: 20px;
    border-radius: 50px;
}

.amazon{
    border-radius: 50px;
    background-color: yellow;
    transition-property:all;
    transition-duration: 0.5s;
}

.amazon:hover{
    border-radius: 50px;
    background-color: goldenrod;
    transition-property:all;
    transition-duration: 0.5s;
}

.comprar{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    transition-property:all;
    transition-duration: 0.5s;
}

.comprar:hover{
    padding: 10px;
    font-size: larger;
    text-decoration: none;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    transition-property:all;
    transition-duration: 0.5s;
}

#logo-amazon{
    font-size: 15px;
    color: black;
}
/*Fim do Link para a Amazon*/

/*Link Secreto*/
.segredo{
    background-color: black;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
}

.segredo:hover{
    background-color: white;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
}


.jogo{
    font-family: Jaro, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: silver;
    font-size: larger;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
}

.jogo:hover{
    font-family: Jaro, 'Times New Roman', Times, serif;
    color: black;
    font-size: larger;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s; 
}

i{
    color: red;
    font-size: 15px;
}
/* Fim do Link Secreto*/