body{
    background-color: orangered;
    
}

#normal{
    text-align: center;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.normal{
    background-color: gold;
    border:10px solid black ;
    padding: 20px;
}

.imagem{
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.link{
    text-align: center;
}

#link:link{
    text-decoration: none;
    color: white;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border: 10px solid orange;
}

#link:hover{
    text-decoration-line: underline;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    border: 10px solid red;
}